.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java 构建产物 ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*.log
replay_pid*.log

### 系统文件 ###
*.log
*.tmp
*.swp
*.swo
*~

### IDE ###
.idea/
*.iml
*.iws
*.ipr
out/

### 运行时生成 ###
tmp/

### 前端资源备份 (res/index) ###
res/bak/

### ME-Frp-v5-GolangSdk SDK ###
implementation/ME-Frp-v5-GolangSdk/


### Go 子模块 (implementation/frp) ###
implementation/frp


# IDE 配置
.idea/

# 本地服务敏感数据
app_services/src/main/resources/ssl/
app_services/src/main/resources/cloudflared-*
*.pem
*.key
*.crt

# 运行时生成的数据
tpca.json
app.json


###原神版抽卡模拟器，因使用游戏内资源截图视频素材，版权归 miHoYo 所有，无法开源，避免收到律师函和仓库封禁###
implementation/genshin-impact-wish-simulator/
##上述原神版抽卡模拟器因高风险，已删除，相关代码已移除，仓库已清理干净##

##QQbot项目，有隐私数据上传不了！##
qqbot/
##QQbot项目，有隐私数据上传不了！##